<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
</head>
<body>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.username.label }}<br>
        {{ form.username(size=32) }}
    </p>
    <p>
        {{ form.password.label }}<br>
        {{ form.password(size=32) }}
    </p>
    <p>
        {{ form.firstname.label }}<br>
        {{ form.firstname(size=32) }}
    </p>
    <p>
        {{ form.lastname.label }}<br>
        {{ form.lastname(size=32) }}
    </p>
    <p>
        {{ form.country.label }}<br>
        {{ form.country(size=32) }}
    </p>
    <p>
        {{ form.email.label }}<br>
        {{ form.email(size=32) }}
    </p>
    <p>
        {{ form.dob.label }}<br>
        {{ form.dob(size=32) }}
    </p>
    <p>{{ form.signup() }} {{ form.signup.label }}</p>
</form>
</body>
</html>